[run]
source = ran
branch = true
omit =
    setup.py

[report]
show_missing = true
exclude_lines =
    pragma: no cover

    def __repr__

    raise AssertionError
    raise NotImplementedError

    if __name__ == ["']__main__["']:

[xml]
output = coverage.xml
